.border-title-pane-label {
    -fx-background-color: #212529;
}

.border-title-pane {
    -fx-background-color: #212529;
    -fx-border-color: #DEE2E6;
}

.border-title-pane-content,
.border-title-pane-label,
.cell-label,
.timer {
    -fx-text-fill: #F8F9FA;
}


.cell-button, 
#toggle,
.cell-button:focused,
.cell-button:pressed {
    -fx-background-color: #343A40;
    -fx-border-color: #F8F9FA;
    -fx-text-fill: #659157;
}

.game-grid{
    -fx-border-color: #495057;
}

#toggle:focused {
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}