.border-title-pane-label {
    -fx-background-color: #F8F9FA;
}

.border-title-pane-content, 
.cell-label, 
.border-title-pane-label, 
.timer {
    -fx-text-fill: #212529;
}

.border-title-pane {
    -fx-background-color: #F8F9FA;
    -fx-border-color: #495057;
}

.cell-button, 
.cell-button:pressed, 
.cell-button:focused {
    -fx-background-color: #E9ECEF;
    -fx-border-color: #212529;
    -fx-text-fill: #8F3985;
}

.game-grid{
    -fx-border-color: #DEE2E6;
}