.border-title-pane-label {
    -fx-background-color: #F3D3CE;
    -fx-text-fill: #04080F;
}

.border-title-pane {
    -fx-background-color: #F3D3CE;
    -fx-border-color: #EEEBD0;
}

.border-title-pane-content {
    -fx-text-fill: #04080F;
}

.cell-label {
    -fx-text-fill: #04080F;
}

.cell-button, #toggle {
    -fx-background-color: #E8A79C;
    -fx-border-color: #EEEBD0;
    -fx-text-fill: #EEEBD0;
}

.cell-button:pressed {
    -fx-background-color: #E8A79C;
}

.cell-button:focused {
    -fx-background-color: #E8A79C;
}

.game-grid{
    -fx-border-color: #EEEBD0;
}

#toggle:focused {
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}