.border-title-pane-label {
    -fx-background-color: #F3D3CE;
}

.border-title-pane {
    -fx-background-color: #F3D3CE;
    -fx-border-color: #EEEBD0;
}

.border-title-pane-content, 
.cell-label, 
.border-title-pane-label, 
.timer {
    -fx-text-fill: #04080F;
}

.cell-button, 
#toggle, 
.cell-button:pressed, 
.cell-button:focused  {
    -fx-background-color: #E8A79C;
    -fx-border-color: #EEEBD0;
    -fx-text-fill: #EEEBD0;
}

.game-grid {
    -fx-border-color: #EEEBD0;
}

#toggle:focused {
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}