.border-title-pane-label {
    -fx-background-color: #FFE270;
    -fx-text-fill: #393E41;
}

.border-title-pane {
    -fx-background-color: #FFE270;
    -fx-border-color: #393E41;
}

.border-title-pane-content {
    -fx-text-fill: #393E41;
}

.cell-label {
    -fx-text-fill: #393E41;
}

.cell-button, #toggle {
    -fx-background-color: #FFDA47;
    -fx-border-color: #393E41;
    -fx-text-fill: #393E41;
}

.cell-button:pressed {
    -fx-background-color: #FFDA47;
}

.cell-button:focused {
    -fx-background-color: #FFDA47;
}

.game-grid{
    -fx-border-color: #393E41;
}

#toggle:focused {
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}