.border-title-pane-label {
    -fx-background-color: #202020;
}

.border-title-pane {
    -fx-background-color: #202020;
    -fx-border-color: #FFEE32;
}

.border-title-pane-content,
.border-title-pane-label,
.cell-label,
.timer {
    -fx-text-fill: #FFD100;
}


.cell-button, 
#toggle, 
.cell-button:pressed, 
.cell-button:focused  {
    -fx-background-color: #202020;
    -fx-border-color: #FFD100;
}

.game-grid{
    -fx-border-color: #FFEE32;
}

#toggle:focused {
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}